.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.userTable {
    width: 40% !important;
}
.heading {
    margin-top: 20px !important;
}
.userAvatar {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.cardWrapper {

}